@keyframes zoom-fade-in-move {
  0% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoom-fade-in-backwards-move {
  0% {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes zoom-fade-out-backwards-move {
  0% {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slide-fade-in-move {
  0% {
    transform: translate(1.5rem);
  }

  to {
    transform: translate(0);
  }
}

@keyframes slide-fade-out-move {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(-1.5rem);
  }
}

@keyframes slide-fade-in-backwards-move {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(1.5rem);
  }
}

@keyframes slide-fade-out-backwards-move {
  0% {
    transform: translate(-1.5rem);
  }

  to {
    transform: translate(0);
  }
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out-opacity {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in-backwards-opacity {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out-backwards-opacity {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-fade-out-opacity {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
