@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "./style/theme.css";
@import "./style/font.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-roboto: "Roboto", sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark-secondary: var(--dark-secondary);
  --color-danger: var(--danger);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-light-secondary-text: var(--light-secondary-text);
  --color-light-filled-secondary: var(--light-filled-secondary);
}

@layer base {
  body {
    @apply bg-background font-roboto;
  }
}